@inherits LayoutComponentBase
@using UIThemes;

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        
        <CascadingValue Value="Theme">
            <div class="content px-4">
                @Body
            </div>
        </CascadingValue>
    </div>
</div>

@code
{
    private readonly MainTheme Theme = new() { ButtonClass = "btn-outline-primary" };
}
