@inherits LayoutComponentBase
@using UIThemes;

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        
        <CascadingValue Value="Theme">
            <div class="content px-4">
                @Body
            </div>
        </CascadingValue>
        
        <ChildBind @bind-LottoNumber="LottoNumber" @bind-LottoNumber:event="UpdateLottoNumber"></ChildBind>
    </div>
</div>

@code
{
    private static readonly Random random = new();

    private readonly MainTheme Theme = new() { ButtonClass = "btn-outline-primary" };

    private string LottoNumber { get; set; } = "03-10-11-12-34-46";

    private void UpdateLottoNumber()
    {
        LottoNumber = $"{random.Next(0,9)}{random.Next(0, 9)}-{random.Next(0, 9)}{random.Next(0, 9)}-{random.Next(0, 9)}{random.Next(0, 9)}-{random.Next(0, 9)}{random.Next(0, 9)}-{random.Next(0, 9)}{random.Next(0, 9)}-{random.Next(0, 9)}{random.Next(0, 9)}-{random.Next(0, 9)}{random.Next(0, 9)}";
    }
}
