<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Simple Samples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="BuiltInSamples/index">
                <span class="oi oi-plus" aria-hidden="true"></span> Built In Samples
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="configuration/InMemory">
                <span class="oi oi-cog" aria-hidden="true"></span> In-Memory Configs
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/Routes/index">
                <span class="oi oi-fork" aria-hidden="true"></span> Multi Routes
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="data-binding">
                <span class="oi oi-pencil" aria-hidden="true"></span> Data-Binding
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="event-handling">
                <span class="oi oi-bolt" aria-hidden="true"></span> Event-Handling
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="Components/index">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Components
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="RenderFragments/index">
                <span class="oi oi-share-boxed" aria-hidden="true"></span> Render Fragments
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="alternative-layout">
                <span class="oi oi-project" aria-hidden="true"></span> Alternative-Layout
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="form-validation">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Form Validation
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/JsAndDotNet/index">
                <span class="oi oi-code" aria-hidden="true"></span> JS in .NET Method
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/FileUpload/index">
                <span class="oi oi-file" aria-hidden="true"></span> File Uploading
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/Virtualization/index">
                <span class="oi oi-eye" aria-hidden="true"></span> Rendering Virtualization
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/StateManagement/index">
                <span class="oi oi-hard-drive" aria-hidden="true"></span> State Management
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/SignalR/index">
                <span class="oi oi-signal" aria-hidden="true"></span> SignalR
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/Logging/Index">
                <span class="oi oi-document" aria-hidden="true"></span> Logging
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/Rendering/Index">
                <span class="oi oi-layers"></span> Rendering
            </NavLink>
        </li>
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="/AppInsights/Index">
                <span class="oi oi-layers"></span> AppInsights
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
