@page "/Routes/index"

<h3>Multiple Routes</h3>

<h6>Multiple routes to same location</h6>
<ul>
    <li><NavLink href="/Routes/PathA">/Routes/PathA</NavLink></li>
    <li><NavLink href="/Routes/PathB">/Routes/PathB</NavLink></li>
</ul>

@code {

}
