@page "/Components/index"


@inject NavigationManager NavigationManager

<h3>Component Example</h3>

<CounterModifiedComponent OnOdds="OnOddsValue" OnEvens="OnEvensValue" />

<hr/>
<br/>
<p>Last Odd Value: <code>@lastOddValue</code></p>
<p>Last Even Value: <code>@lastEvenValue</code></p>


<hr/>

<NextFibonacciNumber OnNext="OnNextFibonacciNumber" />

<p>All Previous Numbers: @string.Join(' ', allPrevious)</p>

<hr/>
<p>Render a child content in component!</p>
<Collapsible>I am the child content that is render with <code>RenderFragment</code></Collapsible>

@code {

    private int lastOddValue;
    private int lastEvenValue;


    private void OnOddsValue(int value)
    {
        lastOddValue = value;
    }

    private void OnEvensValue(int value)
    {
        lastEvenValue = value;
    }

    private readonly ICollection<int> allPrevious = new List<int>() {1, 1, 2};
    private void OnNextFibonacciNumber(int value)
    {
        allPrevious.Add(value);
    }
}
