@page "/StateManagement/local-storage"

<h3>Local Storage</h3>
<p>
    <code>localStorage</code> is scoped to the browser's window. If the user reloads the page or closes and re-opens the browser, the state persists. 
    If the user opens multiple browser tabs, the state is shared across the tabs. Data persists in localStorage until explicitly cleared.
</p>

@code {
    
}
