@page "/StateManagement/session-storage"

<h3>Session Storage</h3>
<p>
    <code>sessionStorage</code> is scoped to the browser tab. If the user reloads the tab, the state persists. 
    If the user closes the tab or the browser, the state is lost. If the user opens multiple browser tabs, 
    each tab has its own independent version of the data.
</p>

@code {

}
