@page "/jsindotnetclass"

@inject IJSRuntime JavaScript;

<h3>JavaScript In .Net Methods</h3>

<button type="button" class="btn btn-outline-primary" @onclick="MakeTheCall">Call JavaScript from .Net Class</button>
<p class="mt-2" style="font-size: 1.6em;">
    <span class="badge badge-success">
        @messageMarkup
    </span>
</p>

@code {
    private MarkupString messageMarkup = new MarkupString("Select the <strong>Call JavaScript from .NET Class</strong> button.");


    private async Task MakeTheCall()
    {
        var jsInClass = new JsInAClass(JavaScript);
        var message = await jsInClass.GetRandomNumberList();
        messageMarkup = new MarkupString(message);
    }
}
