@page "/JsInDotNet/index"

@inject NavigationManager Navigator

<h3>JavaScript In DotNet Samples</h3>

<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToJsInDotNet">Js In DotNet</button></p>
<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToJsInDotNetClass">Js In DotNet Class</button></p>


@code {

    private void NavigateToJsInDotNet()
    {
        Navigator.NavigateTo("/JsInDotNet/jsindotnet");
    }

    private void NavigateToJsInDotNetClass()
    {
        Navigator.NavigateTo("/JsInDotNet/jsindotnetclass");
    }
}
