@page "/form-validation"
@using MsBlazorServerPlayGround.Models
@using System.Text

<h3>Form Validation Basic</h3>

<EditForm Model="@model" 
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Id">ID:</label>
        <InputText @bind-Value="model.Id" id="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText @bind-Value="model.Name" id="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea @bind-Value="model.Description" id="description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        <InputSelect @bind-Value="model.Type" id="type" class="form-control">
            <option value="">Select type...</option>
            <option value="Thing">Thing</option>
            <option value="Object">Object</option>
            <option value="Stuff">Stuff</option>
            <option value="Something">Something</option>
            <option value="Others">Others</option>
            <option value="Whatchamacallit">Whatchamacallit</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="isUrgent">IsUrgent:</label>
        <InputCheckbox @bind-Value="model.IsUrgent" id="isUrgent" class="form-control"></InputCheckbox>
    </div>
    <div class="form-group">
        <label for="stars">Stars:</label>
        <InputNumber @bind-Value="model.Stars" id="stars" class="form-control"></InputNumber>
    </div>
    <div class="form-group">
        <label for="submission-date">Submit Date:</label>
        <InputDate @bind-Value="model.SubmissionDate" id="submission-date" class="form-control" ParsingErrorMessage="Must be a date."></InputDate>
    </div>

    <button class="btn btn-info" type="submit">Submit</button>
</EditForm>

<div style="padding: 15px 5px 0px 5px;">
    <p><code>Form Submit Status:</code> @submitMessage</p>
</div>


@code {
    private string submitMessage;
    private readonly AFormModel model = new();
    private void HandleValidSubmit() => submitMessage = "Form is Valid!";
    private void HandleInvalidSubmit() => submitMessage = "Form is invalid!";
}
