@page "/JsAndDotNet/index"

@inject NavigationManager Navigator

<h3>JavaScript In DotNet Samples</h3>

<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToJsInDotNet">Js In DotNet</button></p>
<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToJsInDotNetClass">Js In DotNet Class</button></p>
<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToDotNetInJs">DotNet In Js</button></p>


@code {

    private void NavigateToJsInDotNet()
    {
        Navigator.NavigateTo("/JsAndDotNet/jsindotnet");
    }

    private void NavigateToJsInDotNetClass()
    {
        Navigator.NavigateTo("/JsAndDotNet/jsindotnetclass");
    }

    private void NavigateToDotNetInJs()
    {
        Navigator.NavigateTo("/JsAndDotNet/dotnet-in-javascript");
    }
}
