@page "/RenderFragments/index"

<h3>Render Fragment Examples</h3>

<p>Render a child content in component!</p>
<Collapsible>I am the child content that is render with <code>RenderFragment</code></Collapsible>


@code {

}
