@page "/RenderFragments/TabControl/tab-control-sample"

<h3>Tab Control Sample</h3>

<TabControl>
    <TabPage Text="ASP.NET Blazor">
        <h1>Blazor</h1>
        <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Project Site</a>
    </TabPage>
    <TabPage Text=".NET Tools">
        <h1>.NET Tools</h1>
        <a href="https://dotnet.microsoft.com/platform/tools" target="_blank">.NET Tools &amp; Editors</a>
    </TabPage>
    <TabPage Text="Blazor University">
        <h1>Blazor University</h1>
        <a href="https://blazor-university.com/" target="_blank">Blazor University</a>
    </TabPage>
</TabControl>


@code {

}
