@page "/Virtualization/none-virtualized/{generateAmount:int}"

@using MsBlazorServerPlayGround.Models
@using MsBlazorServerPlayGround.Data


<h3>None Virtualized Version (@GenerateAmount)</h3>

<div style="height:500px;overflow-y:scroll">
    @foreach (var person in people)
    {
        <SomePersonComponent Person="@person" />
    }
</div>

@code {
    [Parameter]
    public int GenerateAmount { get; set; } = 100000;

    private IEnumerable<SomePerson> people;

    protected override void OnInitialized()
    {
        people = VirtualizationDataFactory.GenerateData(100000);

        base.OnInitialized();
    }
}
