@page "/Virtualization/virtualized"


@using MsBlazorServerPlayGround.Models
@using MsBlazorServerPlayGround.Data
<h3>Virtualized Version</h3>

<div style="height:500px;overflow-y:scroll">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Bio</th>
        </tr>
        </thead>
        <tbody>
        @*<Virtualize Items="people" Context="person">
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Bio</td>
            </tr>
        </Virtualize>*@
        </tbody>
    </table>
</div>

@code {

    private IEnumerable<SomePerson> people;

    protected override void OnInitialized()
    {
        people = VirtualizationDataFactory.GenerateData(10000);

        base.OnInitialized();
    }
}
