@page "/Virtualization/virtualized/{generateAmount:int}"

@using MsBlazorServerPlayGround.Models
@using MsBlazorServerPlayGround.Data


<h3>Virtualized Version (@GenerateAmount)</h3>

<div style="height: 500px; overflow-y: scroll">
    <!--NOTE: Virtualize does not work with IEnumerable<T>-->
    <Virtualize Items="people" Context="person">
        <SomePersonComponent Person="@person" />
    </Virtualize>
</div>

@code {

    [Parameter]
    public int GenerateAmount { get; set; } = 100000;


    private SomePerson[] people;

    protected override void OnInitialized()
    {
        people = VirtualizationDataFactory.GenerateData(100000).ToArray();

        base.OnInitialized();
    }
}