@page "/BuiltInSamples/index"

@inject NavigationManager Navigator

<h3>Built In Samples</h3>

<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToCounter">Counter</button></p>
<p><button class="btn btn-primary navigation-btn" @onclick="NavigateToFetchData">Fetch Data</button></p>

@code {

    private void NavigateToCounter()
    {
        Navigator.NavigateTo("BuiltInSamples/counter");
    }

    private void NavigateToFetchData()
    {
        Navigator.NavigateTo("BuiltInSamples/fetchData");
    }
}
